.supremacy-section {
  width: $mini-devices;
  margin: auto;
  margin-bottom: 0;
  padding: 0;

  background-color: #353535;

  @media (min-width: $medium-devices) {
      width: 640px;
   }
  
   @media (min-width: $large-devices) {
      width: 960px;
      margin-top: -160px;

      display: flex;

  }
}