.supremacy__description_lies {
  &_top{
    display: none;

    @media (min-width: $medium-devices) { 
      margin-top: 13px;
      display: block;
      color: #b2b2b2;
    }
    @media (min-width: $large-devices) { 
      margin-top: 25px;
    }
  } 

  &_bottom{
    display: block;
    padding: 15px 0;
    
    color: #545454;
    text-align: center;
    background-color: #242424;

    @media (min-width: $medium-devices) { 
      display: none;
    }
  } 
}