.supremacy__title {
  padding: 0 30px;
  margin: 0;

  display: block;
  
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;

  &_big {
    font-size: 40px;
    padding: 0;

    @media (min-width: $medium-devices) { 
      font-size: 72px;
      line-height: 72px;
    }

    &_star {
      position: relative;

      &::after {
        content: "*";
        display: block;
        width: 20px;
        position: absolute;
        top: -5px;
        right: -30px;
        height: 20px;

        font-size: 25px
      }

      @media (min-width: $medium-devices) { 
        &::after {
          content: "*";
          display: block;
          width: 20px;
          position: absolute;
          top: -15px;
          right: -30px;
          height: 20px;
          
          font-size: 40px;

        }
      }
    }

  }
}