.link_menu {
  position: relative;
  background-color: #826550;

  &:active {
    color: #978374;
  }

  @media (min-width: $medium-devices) {
    padding: 5px 10px 13px 10px;
    background-color: #000000;

    &:hover {
        color: #67503f;
    }
      
    &:active {
      color: #383838;
    }
  }

  @media (min-width: $large-devices) {
    padding: 5px 10px 13px 10px;
    background-color: #000000;

    &:hover {
      background-color: #ffffff;
      color: #000000;
    }
      
    &:active {
      color: #b2b2b2;
    }
  }
     
}
