.link__text_login {
  @media (min-width: $medium-devices) {
//    display: none;
    margin-left: -9000px;

  }

  @media (min-width: $large-devices) {
    display: block;
    margin-left: 0;
  }
  
}