.button_popup {

  width: 130px;
  
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #826550;
  border: 1px solid #826550;

  @media (min-width: $medium-devices) { 
    width: 100%;  
  }

  &:hover {
    background-color: #6a4d38;
  }

  &:active {
    background-color: #6a4d38;
  }


  &:focus {
    background-color: #6a4d38;
    outline: 1px solid #999999;
  }
}