.button_review {
  display:none;
  box-sizing: border-box;
  border: none;
  box-shadow: none;

  cursor: pointer;

  @media (min-width: $medium-devices) {
    display: block;
    min-width: 50px;
    height: 160px;

    background-color: #f8f5f2;
    
    &:active {
      background-color: #d5c9bd;
    }
  }

  @media (min-width: $large-devices) {
    border: 1px solid #e5ddd5;
  }
}