.victim__block_large {
  margin-bottom: 20px;
  padding-bottom: 0;

  @media (min-width: $medium-devices) {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  @media (min-width: $large-devices) {
    width: 960px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
  }
}