.victim__picture_best-work {
  position: relative;
  margin-bottom: 10px;

  &::before {
    display: block;
    width: 168px;
    content: attr(data-text);
    
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;    
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
 

    position: absolute;
    bottom: 38px;
    left:0px;

    background-color: #826550;
  }

  &::after {
    display: block;
    content: "";

    position: absolute;
    bottom: 38px;
    left:168px;

    border-right: 7px solid transparent;
    border-top: 25px solid #826550;
    border-bottom: 25px solid #826550;

  }

  @media (min-width: $medium-devices) {
    height: 480px;
    
    &::before {
      bottom: 395px;
      left:0px;
    }
  
    &::after {
      bottom: 395px;
      left:168px;
  
    }
  }

  @media (min-width: $large-devices) {
    height: 478px;


    &::before {
      bottom: 403px;
      left: 791px;
    }

    &::after {
      bottom: 403px;
      left: 784px;
      border-right: none;
      border-left: 7px solid transparent;
    }


  }
}