.page-head__nav {
//  width: 250px;
  height: 50px;
  
  overflow: hidden;

  display: flex;
  flex-direction: column;
  flex-grow: 2;

  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;


  @media (min-width: $medium-devices) { 
    max-width: 690px;
    height: 75px;
    margin: auto;
    padding: 0;

    
    flex-direction: row;
    justify-content: space-around;

  }

  @media (min-width: $large-devices) { 
    max-width: 960px;
  }
}


.burger-menu__checkbox:checked ~
.page-head__nav {
  z-index: 100;
  overflow: visible;
}