.page-head__head-banner {
  height: 85px;
  margin: 0;
  
  background-color: #242424;

  background-image: url(/img/logotype-mobile.svg);
  background-size: 230px 35px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $medium-devices) { 
    height: 400px;
    order: 3;
    background-image: 
      url(/img/logotype-tablet.svg),
      url(/img/back-tablet.jpg);
    background-size: 390px 115px, auto 400px;
    background-position-y: 30px, center;
    background-repeat: no-repeat; 
    background-color: #030303;
  }

  @media (min-width: $large-devices) { 
    height: 650px;
    background-image: 
      url(/img/logotype-desktop.svg),
      url(/img/back-desktop.jpg);
    background-size: 400px 160px, auto 650px;
    background-position-y: 60px, top;
    background-repeat: no-repeat; 
  }

  @media (min-resolution: 1.5dppx) { 
    height: 650px;
    background-image: 
      url(/img/logotype-desktop.svg),
      url(/img/back-tablet@1x.jpg);
    background-size: 400px 160px, auto 650px;
    background-position-y: 60px, top;
    background-repeat: no-repeat; 
  }

}