.page-head {
  display: flex;
  flex-direction: column;
  min-height: 136px;
  width: $mini-devices;
  margin: auto;
  // z-index: -1;

  @media (min-width: $medium-devices) { 
    width: 100%;  
  }

  @media (min-width: $large-devices) { 
    width: 100%;  
  }
}