.page-head__nav-block {
  
  order: 2;
  z-index: 1;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; 
  margin-top: 0;

  background-color: #826550;

  @media (min-width: $medium-devices) { 
    background-color: #000000;
  }  
}

