.review {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  margin-right: 20px;
  padding-top: 2px;

  box-sizing: inherit;

  @media (min-width: $medium-devices) {
    
    padding: 0;
    padding-top: 30px;
    margin: 0;
  }

  @media (min-width: $large-devices) {
    width: 820px;
    align-items: center;    
    padding: 0;
    margin: 0;
    border: 1px solid #e5ddd5;
  }
}