.bread-crumbs {
  display: none;
  border: 1px solid #e5ddd5;
  background-color: #aeaeae;

  cursor: pointer;

  &:hover {
    background-color: #f8f5f2;
    border: 1px solid #d5c9bd;
  }
  
  &:focus {
    border: 1px solid #d5cabe;
    outline: 1px solid #d5cabe;
  }

  &:active {
    color: #958c84;
    border: 1px solid #d5c9bd;
    background-color: #d5c9bd;
  }


  @media (min-width: $medium-devices) {
    width: 160px;
    position: absolute;
    top: 110px;
    right: 65px;

  }

  @media (min-width: $large-devices) {
    top: 114px;
    right: 118px;
  }

  @media (min-width: $medium-devices) {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 155px;
    margin-top: 21px;

    
    vertical-align: top;
    text-decoration: none;
    color: #000000;
    background-color: #f8f5f2;

  }

  @media (min-width: $large-devices) {
    margin-left: 475px;
    
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
  }
}