.popup__block_flex_row {
  width: 280px;
  margin-bottom: 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (min-width: $medium-devices) {
    width: 320px;
  }

  &_marginbottom {
    margin-bottom: 0;
  }
}