.popup__link {
  display: inline-block;
  position: relative;
  margin: 0;
  padding-top: 5px;

  font-size: 18px;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: #808080;

    &::after {
      background-color: #808080;
    }
  }

  &:active {
    color: #808080;

    &::after {
      background-color: #808080;
    }
  }

  &:focus {
    outline: 1px solid #808080;
    color: #808080;

    &::after {
      background-color: #808080;
    }
  }
  
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 3px;
    left: 0;
    
    background-color: #000000;
  }
}