.footer-block_maker {
  margin:auto;
  margin-top: 25px;

  @media (min-width: $medium-devices) {
    margin-top: 15px;
    margin-left: 150px;
    padding: 0;
    text-align: center;
  }
  
  @media (min-width: $large-devices) {
    order: 3;
    margin-top: 0;
    margin-right: 120px;
    padding: 0;  
  }
}