.footer-block__menu_icon {
  width: 45px;
  height: 45px;
  fill: #ffffff;

  &:hover {
    fill: #808080;
  }

  @media (min-width: $medium-devices) {
    width: 40px;
    height: 40px;
  }

  @media (min-width: $large-devices) {
    width: 20px;
    height: 20px;
  }
}

.footer-block__menu_link:hover .footer-block__menu_icon {
  fill: #808080;
}

.footer-block__menu_link:active .footer-block__menu_icon {
  fill: #808080;
}