.footer-block__title {
  margin: 0;
  font-size: 18px;

  @media (min-width: $medium-devices) {
    text-transform: uppercase;
  }

  &_social {
    display: none;
    
    @media (min-width: $large-devices) {
      display: block;
      padding: 0;
      margin: 0;
      margin-bottom: 10px;

      text-transform: none;
      font-weight: normal;
      text-align: center;
    }
  }

  &_maker {
    display: block;
    margin: 0;
    padding: 0; 

    text-transform: none;
    font-weight: normal;
    text-align: center;

    @media (min-width: $medium-devices) {
      text-transform: none;
    }

    @media (min-width: $large-devices) {
      margin-bottom: 10px;
    }
  }
}
