.page-body {
    margin: auto;
    padding-top: env(safe-area-inset-top);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);

    font-family: "PT Sans Narrow";
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;

    box-sizing: border-box;

}

::selection {
    background: transparent;
}