.page-content_inner {
  background-color: $background-color;

  @media (min-width: $medium-devices) {
    background-color: $background-color;
  }

  @media (min-width: $large-devices) {
    background-color: $background-color;
  }
}