.toggle-block__radio_beard {

  &_1:checked ~ 
    .form__label_text_beard_1::after,
  &_2:checked ~ 
    .form__label_text_beard_2::after,
  &_3:checked ~ 
    .form__label_text_beard_3::after,
  &_4:checked ~ 
    .form__label_text_beard_4::after,
  &_5:checked ~ 
    .form__label_text_beard_5::after {
      border-color: #e9e2dc;
  }

  &_1:checked ~ 
    .form__label_text_beard_1:hover::before,
  &_2:checked ~ 
    .form__label_text_beard_2:hover::before,
  &_3:checked ~ 
    .form__label_text_beard_3:hover::before,
  &_4:checked ~ 
    .form__label_text_beard_4:hover::before,
  &_5:checked ~ 
    .form__label_text_beard_5:hover::before {
      border-color: #d8cdc1;
  }

  &_1:checked ~ 
    .form__label_text_beard_1:hover::after,
  &_2:checked ~ 
    .form__label_text_beard_2:hover::after,
  &_3:checked ~ 
    .form__label_text_beard_3:hover::after,
  &_4:checked ~ 
    .form__label_text_beard_4:hover::after,
  &_5:checked ~ 
    .form__label_text_beard_5:hover::after {
      border-color: #d9cec3;
  }
  
  &_1:checked ~ 
    .form__label_text_beard_1:active::before,
  &_1:checked ~ 
    .form__label_text_beard_1:active::after,
  &_2:checked ~ 
    .form__label_text_beard_2:active::before,
  &_2:checked ~ 
    .form__label_text_beard_2:active::after,
  &_3:checked ~ 
    .form__label_text_beard_3:active::before,
  &_3:checked ~ 
    .form__label_text_beard_3:active::after,
  &_4:checked ~ 
    .form__label_text_beard_4:active::before,
  &_4:checked ~ 
    .form__label_text_beard_4:active::after,
  &_5:checked ~ 
    .form__label_text_beard_5:active::before,
  &_5:checked ~ 
    .form__label_text_beard_5:active::after {
      border-color: #d5c9bd;
      background-color: #d5c9bd;
  }
}