.toggle__checkbox_news {
  

  &:checked ~ 
    .news_old {
      display: none;
  }
 
   &:checked ~ 
     .button {
       color: #000000; 
       background-color: #f8f5f2; 

       &:hover {
        border: 1px solid #d5cabe;
      }
      
      &:focus {
        border: 1px solid #d5cabe;
        outline: 1px solid #d5cabe;
      }
    
      &:active {
        color: #958c84;
        border: 1px solid #d5c9bd;
        background-color: #d5c9bd;
      }
   }
  
  &:checked ~ 
    .button
    .button_hide {
      display: none
  }

  &:checked ~ 
    .button
    .button_show {
      display: block;
      
  }
  
  

  &:checked ~ 
    .news_second {
      border: none;
  }

  @media (min-width: $medium-devices) {
    &:checked ~ 
      .news {
        border: none;
    }
  }

  @media (min-width: $large-devices) {
    &:checked ~ 
      .news_third {
        display: flex;
    }
  }

}

