.toggle-block_review {
  margin: auto;
  margin-top: 30px;
  padding-bottom: 2px;

  @media (min-width: $medium-devices) {
    display: flex;

    position: absolute;
    bottom: 65px;
    left: 320px;
    min-width: 130px;
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: inherit;

    background-color: #f8f5f2;
  }

  @media (min-width: $large-devices) {
    bottom: 44px;
    left: 535px;
  }
}