.news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  margin-bottom: 4px;

  border-bottom: 1px solid #e5ddd5;

  &:hover {
    color: #826550;
    text-decoration: underline;

    .news__date {
      background-color: #826550;
      border-bottom-color: #826550;

      &::after {
        border-top-color: #826550;
      }
    }
  }

  &:active {
    color: #6a4d38;
    text-decoration: underline;
    
    .news__date {
      color: #a09187;
      background-color: #6a4d38;
      border-bottom-color: #6a4d38;

      &::after {
        border-top-color: #6a4d38;
      }
    }

  }

  @media (min-width: $medium-devices) {
    display: flex;
    margin-right: 40px;

  }

  @media (min-width: $large-devices) {
    margin-right: 40px;
  }
  
}