.nav-menu {
  margin: 0;
  padding: 0;

  
  &_main{
//    border: 1px solid red;
    @media (min-width: $medium-devices) { 
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      flex-grow: 1;
      margin-right: 41px;
      
    }

    @media (min-width: $large-devices) { 
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      flex-grow: 1;

      max-width: 734px;
      margin-left: 0;
      
    }
  }
}