.work-time__text {
  display: block;
  max-width: 120px;
  padding-top: 3px;

  text-align: left;

  @media (min-width: $medium-devices) {
    font-size: 30px;
    font-weight: bold;
    max-width: 100%;

    text-transform: uppercase;
  }
  
  @media (min-width: $large-devices) {
    margin: 0 auto;
    padding-left: 53px;
    padding-right: 53px;

    font-size: 20px;
    font-weight: normal;
    text-align: center;
    text-transform: none;
  }
}