.work-time {
  max-width: 280px;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 46px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  box-sizing: inherit;
  border: 1px solid #484848;

  @media (min-width: $medium-devices) {
    max-width: 100%;
    padding-right: 102px;
    padding-bottom: 20px;
    padding-left: 27px;
    
    align-items: center;
  }

  @media (min-width: $large-devices) {
    width: 270px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
  }
}