.form__fieldset_appointment {
  margin: 0;
  margin-bottom: 27px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  
  @media (min-width: $medium-devices) {
    margin-bottom: 31px;
  }
 
  @media (min-width: $large-devices) {
    margin-bottom: 31px;
    justify-content: space-between;
    
  }
}