.form_appointment {
  max-width: $mini-devices;
  box-sizing: inherit;

  @media (min-width: $medium-devices) {
    max-width: 640px;
    margin-top: 48px;
  }

  @media (min-width: $large-devices) {
    max-width: 960px;
    margin-top: 48px;
  }
}