.form__label_checkbox_beard {
  margin-bottom: 23px;


  @media (min-width: $medium-devices) {
    flex-basis: 320px;
    margin-bottom: 49px;


    &_1 {
      order: 1; 
    }

    &_2 {
      order: 4; 
    }
    
    &_3 {
      order: 2; 
    }
    &_4 {
      order: 5; 
      margin-bottom: 33px;
    }
    &_5 {
      order: 3; 
    }
    &_6 {
      order: 6; 
      margin-bottom: 33px;
    }
  }
}