.form__input_icon {
  position: relative;
	display: block;

  &_login::after {
    content: "";
    display: block;
    width: 35px;
    height: 35px;

    position: absolute;
    top: 20px;
    right: 45px;
/*    right: 10px; */
    background-image: url(/img/user-icon.svg);
    background-repeat: no-repeat;
    background-size: 70%;
//    background-color: red;

    @media (min-width: $medium-devices) {
      right: 145px;
    }
    
  }
  
  &_password::after {
    content: "";
    display: block;
    width: 35px;
    height: 35px;

    position: absolute;
    top: 20px;
    right: 45px;
    /*    right: 10px; */
    background-image: url(/img/lock-icon.svg);
    background-repeat: no-repeat;
    background-size: 70%;
//    background-color: red;

    @media (min-width: $medium-devices) {
      right: 145px;
    }
    
  }

  &_login_page::after {
    top: 12px;
    right: 20px;

    @media (min-width: $medium-devices) {
      top: 18px;
      right: 137px;

      width: 50px;
      height: 50px;
    }
    
    @media (min-width: $large-devices) {
      right: 195px;;
    }
    
  }
}