.form__input_textarea {
  min-height: 112px;
  padding-top: 10px;
  margin-bottom: 28px;

  resize: none;

  font-size: 18px;

  @media (min-width: $medium-devices) {
    width: 100%;
    min-height: 212px;
    margin-bottom: 50px;
    padding-top: 20px;
  }
  @media (min-width: $large-devices) {
    width: 100%;
    min-height: 210px;
    margin-bottom: 65px;
    padding-top: 20px;
  }

}