.form__label_icon {

  fill: #826550;

  &_beard1 {
    width: 53px;
    height: 50px
  }

  &_beard2 {
    width: 60px;
    height: 70px
  }

  &_beard3 {
    width: 65px;
    height: 80px
  }

  &_beard4 {
    width: 60px;
    height: 98px
  }

  &_beard5 {
    width: 45px;
    height: 105px
  }
}