.section_work {
  padding-top: 0px;
  padding-bottom: 47px;

  @media (min-width: $medium-devices) {
    padding-left: 60px;
    margin-bottom: 100px;
  }

  @media (min-width: $large-devices) {
    padding-right: 118px;
    margin-bottom: 92px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}