.section__title_appointment{

  margin-top: 30px;
  margin-bottom: 29px;
  text-align: left;
  padding-left: 18px;

  @media (min-width: $medium-devices) {
    display: inline-block;
    padding-left: 0px;
    
    font-size: 40px;
  }
}