.section_before {

  @media (min-width: $medium-devices) {
    position: relative;

    &::before {
      display: block;
      content: "";
      
      position: absolute;
      top: -40px;
      left: 0;
      
      border-top: 40px solid transparent;
      border-right: 384px solid #f8f5f2;
      border-left: 384px solid #f8f5f2;
    }
  
  }
  @media (min-width: $large-devices) {

    &::before {
      top: -60px;
      
      border-top: 60px solid transparent;
      border-right: 600px solid #f8f5f2;
      border-left: 600px solid #f8f5f2;
    }
  
  }
}