.section__title_reviews {
  margin-bottom: 25px;

  @media (min-width: $medium-devices) {
    
    font-size: 40px;
    text-align: left;
    margin-bottom: 47px;
    
  }

  @media (min-width: $large-devices) {
    padding-left: 71px;
  }
}