.section_prices {
  padding-top: 35px;
  padding-bottom: 55px;
  position: relative;
  box-sizing: inherit;

  color: #ffffff;
  background-color: #353535;

  &::before {
    display:block;
    content: "";

    position: absolute;
    left: 0;
    top: -40px;
    border-right: $mini-devices/2 solid #353535;
    border-left: $mini-devices/2 solid #353535;
    border-top: 40px solid transparent;
  }

  @media (min-width: $medium-devices) {
    padding-top: 50px;
    padding-left: 62px;
    padding-right: 64px;
    margin-bottom: 0;
    
    &::before {
    border-right-width: $medium-devices / 2;
    border-left-width: $medium-devices / 2;
    }
  }

  @media (min-width: $large-devices) {
    padding-top: 83px;
    padding-left: 119px;
    padding-bottom: 81px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;



    &::before {
      border: none;
      
    }
  }
}