.section__title_prices {
  @media (min-width: $medium-devices) {
    margin-bottom: 54px;

    font-size: 40px;
    text-align: left;
  }
 
  @media (min-width: $medium-devices) {
    width: 100%;
    margin-bottom: 52px;
  }
}