/* Бургер меню на before и after */
/*
*	в переменных задать: 
*	- ширину/высоту иконки
*	- бордер радис для иконки
*	- ширину линии
*	- длину линии
*	- top для before
*	- top для after
*	- цвет
*	- цвет на ховер
*	- цвет на актив
*/

$button-height: 50px;
$button-width: 70px;
$icon-line-height: 3px;
$line-size: $button-height - $button-height / 5;
$line-before-top: $button-height * 0.25;
$line-after-top: $button-height * 0.75 - $icon-line-height;
$border-width: 0px;
$border-radius: 0px;
$icon-border-radius: 0px;
$icon-border-radius-active: 10px;
$icon-color: #ffffff;
$icon-color_hover: #917d6f;
$icon-color_active: #ffffff;
$background-color: #6a4d38;
$background-color-hover: #624530;
$background-color-active: #624530;


.burger-menu__icon {
	position: relative;
	
	width: $button-width;
	height: $button-height;
	padding: ($button-height / 2 - $icon-line-height / 2 - $border-width) ($button-width * 0.2);
	box-sizing: border-box;
  display: block;
  
  order: 2;
  
  background-color: $background-color;
	border: $border-width solid $icon-color;
  border-radius: $border-radius;

  @media (min-width: $medium-devices) { 
    display: none; 
  }

  @media (min-width: $large-devices) { 
    display: none; 
  }
  
  &:hover,
  &:active {
    background-color: $background-color-hover
  }


  &_line {
    height: $icon-line-height;
    width: $line-size;
    display: block;
    
    border-radius: $icon-border-radius;
    background-color: $icon-color;
      
    &::before {
        height: $icon-line-height;
        width: $line-size;
        display: block;
        
        position: absolute;
        top: $line-before-top;
        content: "";
        
        border-radius: $icon-border-radius;
        background-color: $icon-color; 
      }

    &::after {
      height: $icon-line-height;
      width: $line-size;
      display: block;
      
      position: absolute;
      bottom: $line-before-top;
      content: "";
      
      border-radius: $icon-border-radius;
      background-color: $icon-color;
    }
  }
}

.burger-menu__icon:hover,
.burger-menu__checkbox:checked ~ .burger-menu__icon:hover {
	border-color: $icon-color_hover;
}

.burger-menu__icon:hover .burger-menu__icon_line,
.burger-menu__icon:hover .burger-menu__icon_line::after,
.burger-menu__icon:hover .burger-menu__icon_line::before,
.burger-menu__checkbox:checked ~ .burger-menu__icon:hover .burger-menu__icon_line,
.burger-menu__checkbox:checked ~ .burger-menu__icon:hover .burger-menu__icon_line::after,
.burger-menu__checkbox:checked ~ .burger-menu__icon:hover .burger-menu__icon_line::before {
	background-color: $icon-color_hover;
}

.burger-menu__checkbox:checked ~ .burger-menu__icon {
	border-color: $icon-color_active;
}

.burger-menu__checkbox:checked ~ .burger-menu__icon .burger-menu__icon_line,
.burger-menu__checkbox:checked ~ .burger-menu__icon .burger-menu__icon_line::after,
.burger-menu__checkbox:checked ~ .burger-menu__icon .burger-menu__icon_line::before {
	background-color: $icon-color_active;
}

	/* Крестик */
.burger-menu__checkbox:checked ~ .burger-menu__icon .burger-menu__icon_line {
  transform: rotate(45deg);
  border-radius: $icon-border-radius-active;
}

.burger-menu__checkbox:checked ~ .burger-menu__icon .burger-menu__icon_line::before {
	top: 0;
  
  border-radius: $icon-border-radius-active;
	transform: rotate(90deg);
}

.burger-menu__checkbox:checked ~ .burger-menu__icon .burger-menu__icon_line::after {
	display: none;
}