.feature__title_header {
  padding: 0 30px;
  text-align: center;


    @media (min-width: $medium-devices) { 
      max-width: 220px;
      font-size: 40px;
      line-height: 40px;
      text-transform: none;
      padding: 0;

    }
}