.feature_line {
  position: relative;

  &::after {
    position: absolute;
    bottom: -18px;
    left: 100px;

    content: "";
    display: block;

    width: 570px;
    height: 1px;

    background-color: #4a4a4a;

    @media (min-width: $large-devices) { 
      bottom: 28px;
      left: 320px;
      width: 1px;
      height: 267px;

    }
  }
}