.features__block {
  width: 1000px;
  padding: 2px 0px;
  margin: 0;
  margin-left: 0px;
  font-size: 0;
  position: relative;
  display: flex;

  color: #ffffff;

  overflow: hidden;
  box-sizing: inherit;

  @media (min-width: $medium-devices) {
    width: 100%;
    padding-top: 4px;
    flex-direction: column;
    
  }

  @media (min-width: $large-devices) {
    display: flex;
    flex-direction: row;
  }
}