.features__description {
  margin: 0;
  padding: 0;
  
  display: block;
  
  font-size: 20px;
  line-height: 27px;



  &_lies_top{
    display: none;

    @media (min-width: $medium-devices) { 
      margin-top: 13px;
      display: block;
      color: #b2b2b2;
    }
    @media (min-width: $large-devices) { 
//      margin-top: 40px;
    }
  } 

  &_lies_bottom{
    display: block;
    padding: 21px 0;
    
    color: #545454;
    text-align: center;
    background-color: #242424;

    @media (min-width: $medium-devices) { 
      display: none;
    }
  } 

}