.map-overlay {
  width: 100%;
	height: 300px;
	position:relative;
	top: 300px;
	margin-top: -300px;
//	margin-left: calc((960px - 100vw) / 2);

  background: transparent;
	
	@media (min-width: $large-devices) {
		height: 400px;
		top: 400px;
		margin-top: -400px;
	}
}